$btn-color: rgba(200,200,255,1);

.btn{
    background-color: $btn-color;
    padding: 20px;
    aspect-ratio: 1;
    font-weight: bold;
    border-radius: 50%;
    transition: padding 1500ms ease, margin 600ms ease, border-radius 500ms ease;

    &:hover{
        padding: 40px;
        margin: 50px;
        border-radius: 100%;
    }

    &:active{
        background-color: red;
    }
}