@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Yekan;
    src: 
        url('/src/resources/font/Yekan.eot') format('eot'),
        url('/src/resources/font/Yekan.ttf') format('truetype'),
        url('/src/resources/font/Yekan.woff') format('woff');
}

body{
    font-family: Yekan;
}
