@tailwind components;

@layer components{
    @media screen and (min-width: theme('screens.lg')){
        .blog-container{
            @apply w-full bg-z-light-blue;

            .items-container{
                @apply flex flex-col items-end w-10/12 mx-auto px-12 pb-4 bg-gradient-to-b from-z-blue to-transparent rounded-t-[4rem];
                
                .title{
                    @apply cursor-default w-1/3 mx-auto bg-white rounded-[1rem] h-24 -translate-y-1/2 flex items-center justify-center;
                    box-shadow: 0 0 5px 0 white;

                    .heading {
                        @apply text-4xl text-z-dark-blue;
                    }
                }

                button{
                    @apply bg-z-cyan-0 transition-all text-z-dark-blue text-xl rounded-lg px-8 p-2 flex items-center gap-2;
                }

                button:hover{
                    @apply bg-z-dark-blue text-white;
                }

                button:active{
                    @apply scale-105;
                }
            }

            .entery{
                @apply w-full p-0 mb-4 bg-white rounded-[2rem] h-48 flex overflow-hidden cursor-pointer;
                box-shadow: 0 0 15px 0 white;

                .context{
                    @apply basis-2/3 m-4 ps-8;
                    h4{
                        @apply text-4xl font-bold text-z-dark-blue;
                    }
                    p {
                        @apply text-lg font-normal text-z-dark-blue;
                    }
                }

                .img{
                    @apply basis-1/3 bg-black transition-colors;
                }

                .img.hover{
                    @apply bg-slate-800;
                }
            }
            .entery:nth-of-type(2n-1) {
                @apply flex-row;
                .img{
                    @apply rounded-r-[2rem];
                }
            }
            .entery:nth-of-type(2n){
                @apply flex-row-reverse;
                .img {
                    @apply rounded-l-[2rem];
                }
            }
        }
    }
}